<div class="menu">
	<ul>
		<li><strong><a href="./Page1.html">Accueil</a></strong></li>
		<li><strong><a href="./Page2.html">Produits & Tarifs</a></strong></li>
		<li><strong><a href="./Page3.html">Fabrication</a></strong></li>
		<li><strong><a href="./Page4.html">Nous Contacter</a></strong></li>
		<li><strong><a href="./Page5.html">Mentions légales</a></strong></li>
	</ul>
	<hr>
</div>

<!-- <div class="bgimg"> -->
	<div class="banner" style="background-image: url(../../assets/images/grilletailly.png">
		<div class="banner-content">
			<h1>Les Sapins de Tailly</h1>
			<p>Production artisanale picarde de sapins de Noël</p>
		</div>
	</div>
<!-- </div> -->
			
<div class="texteaccueil">
	<p>	Nous sommes heureux de vous accueillir sur le site des Sapins de Tailly. 
	Nous espérons que vous y trouverez toutes les informations dont vous aurez besoin. <br />
	<br />
	Les Sapins de Tailly est une entreprise familiale et artisanale de production de sapins de Noël floqués en blanc. Depuis plus de 40 ans, nous plantons nos sapins avec amour en espérant qu'un jour ils seront devant votre cheminée, entourés de cadeaux et de joie de vivre. <br />
	<br />
	Une partie de nos pépinières et l'ensemble de la chaîne de fabrication se trouvent dans l'enceinte du Château de Tailly l'Arbre à Mouches, ancienne demeure du Maréchal Leclerc, habitée aujourd'hui par sa famille. Les autres pépinières se trouvent dans un bois à proximité.<br />
	<br />
	L'entreprise a bénéficié pendant longtemps du savoir-faire de son fondateur décédé depuis peu, Monsieur Hubert Leclerc de Hauteclocque, fils du Maréchal, Président de la Fédération nationale des syndicats de Propriétaires forestiers sylviculteurs pendant 30 ans. Il a su transmettre son expérience et sa passion pour les arbres à sa fille Bénédicte Coste, qui dirige aujourd'hui l'entreprise. Cette filiation est la garantie de la qualité exceptionnelle de nos sapins. <br />
	<br />
	Si, secret professionnel oblige, l'accès aux bâtiments de fabrication est réservé au personnel, le Château et les plantations du parc, eux, sont ouverts librement au public durant le mois d'août. <br /> 
	</p>			
</div>